/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
  --primary-color: #abbc2d;
  --secondary-color: black;
  --primary-font: "Roboto", serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);

}


/* .roboto {
  font-family: "Roboto", serif;
}

.lora {
  font-family: "Lora", serif;
} */